h1 jquery 動態改變css外觀/ html內容
h4 使用:->Settings -> JavaScript -> Quickadd "jquery"
h3 1. 更新元素內部html $(選擇條件).html(...)
.block.block1
hr
h3 2. 更新css $(選擇條件).css(...)
.block.block2
hr
h3 3. 新增/移除css class $(選擇條件).addClass/removeClass(..)
.block.block3
.block.block4.bigblock
hr
h3 4. 使用html()動態新增元素
.block.block5.bigblock
hr
h3 5. 使用text()顯示純文字
.block.block6.bigblock
