h1 jquery 初階滑鼠事件click/hover
h3 1. 點擊觸發，與紀錄購買狀態 (click)
.buybtn 點擊購買
.buybtn 點擊購買
hr
h3 2. $(this)操作觸發動作的按鍵: 請選擇物品
.selbtn(data-cata="tree") 選擇物品一
.selbtn(data-cata="flower") 選擇物品二
.selbtn(data-cata="sea") 選擇物品三
h4.show_info 以選擇物品: 無
h4.show_cata 以選擇種類
hr
h3 3. 滑鼠的移入移出(mouseenter/mouseleave)
.buybtn.mbtn 使用者移入了嗎?
hr
h3 4. 時間相關的一些觸發
h4 set Timeout(動作,時間) 經過特定時間後執行
h4 set Interval(動作,時間) 每經過特定時間後執行
.buy.timerbox 五秒後這裡會移動且變紅色
.time.countbox 已經經過xxx秒
